<div class="dialog-container">
    <div class="dialog-header">
        <span>Atenção!</span>
        <div class="close-dilog">
            <button class="close-icon" mat-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content class="dialog-content">
        <p><strong>1 estrela:</strong> Muito insatisfeito - O serviço ficou muito abaixo das minhas expectativas.</p>
        <p><strong>2 estrelas:</strong> Insatisfeito - O serviço não atendeu às minhas expectativas.</p>
        <p><strong>3 estrelas:</strong> Neutro - O serviço atendeu, mas há pontos que precisam de melhorias.</p>
        <p><strong>4 estrelas:</strong> Satisfeito - O serviço foi bom, mas ainda há pequenas áreas para melhoria.</p>
        <p><strong>5 estrelas:</strong> Muito satisfeito - O serviço superou minhas expectativas de forma completa.</p>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions class="dialog-actions">
        <button class="btn-dialog" mat-button (click)="close()">Fechar</button>
    </div>
</div>