<div class="form" *ngIf="questions.length > 0 ">
  <h4 class="container-rotas">
    <span class="rotas"><a class="link" [routerLink]="'/' + routePart"
        >{{getAreaFromRouterPath(routePart)}}</a> / Avaliação</span>
  </h4>

  <section>
    <div class="form-cabecalho">
      <app-instrucao-formulario></app-instrucao-formulario>
    </div>
  </section>
  <section>
    <div class="form-content">
      <ng-container *ngFor="let question of questions">
        <app-formulario-question [question]="question"
          (respostaSelecionada)="onRespostaSelecionada($event)"></app-formulario-question>
      </ng-container>
    </div>
  </section>
  <section style="flex-grow: 1;">
    <div class="form-actions">
      <a class="btn-return" (click)="voltarEReload()">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </a>
      <button (click)="onSubmit()" class="btn-submit" type="submit" mat-button>
        Enviar
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>
</div>
<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>