.list-item {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    text-decoration: none;
    color: #44474e;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
        background-color: #f3f3f3;
        border-radius: 20px;
    }
}

.list-title {
    display: flex;
    gap: 2px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.list-subtitle {
    padding-left: 15px;
    font-size: 15px;
    display: flex;
    font-weight: 400;
}

