<mat-nav-list>
    <a routerLink="/usuario/info" class="list-item">
        <span class="list-title">
        <mat-icon>account_circle</mat-icon>
            Informações do Usuário</span>
        <span class="list-subtitle">Acessar informações do usuário</span>
    </a>

    <a routerLink="/login" class="list-item">
        <span class="list-title">
        <mat-icon>login</mat-icon>
            Login</span>
        <span class="list-subtitle">Realizar login</span>
    </a>

    <a routerLink="/login" class="list-item">
        <span class="list-title">
        <mat-icon>admin_panel_settings</mat-icon>
            Login como Administrador</span>
        <span class="list-subtitle">Realizar login como administrador</span>
    </a>

    <a routerLink="usuario/create" class="list-item">
        <span class="list-title">
        <mat-icon>person_add</mat-icon>
            Cadastrar Usuário</span>
        <span class="list-subtitle">Criar cadastro de usuário</span>
    </a>

    <a routerLink="" class="list-item">
        <span class="list-title">
        <mat-icon>feedback</mat-icon>
            Reportar</span>
        <span class="list-subtitle">Notificar problemas ou melhorias</span>
    </a>

    <a routerLink="" class="list-item">
        <span class="list-title">
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </span>
        <span class="list-subtitle">Encerrar sessão</span>
    </a>
    
</mat-nav-list>