<div class="kpis">
    <div class="kpis-cabecalho">
        <div class="kpis-logo">
            <img src={{bandeira}} alt="bandeira">
        </div>
        <div class="kpis-title">
            {{title}}
        </div>
    </div>
    <div class="kpis-content">
        <div class="kpis-text">
            {{ avaliacao | number:'1.1-1' }}/5,0
        </div>
        <div class="kpis-rating">
            <app-star-rating [avaliacao]="avaliacao">
            </app-star-rating>
        </div>
        <div class="kpis-btn">
            <a [routerLink]="['/servico', route]" class="btn">Ver detalhes</a>
        </div>
    </div>
</div>