<section class="menu-bar">
    <article class="menu-bar-header">
        <button (click)="menu()" class="btn-menu">
            <mat-icon *ngIf="!menuOpen" matTooltip="Clique aqui para abri o menu" matTooltipShowDelay="300"
                matTooltipHideDelay="300" matTooltipPosition="above">
                menu
            </mat-icon>
            <mat-icon *ngIf="menuOpen" matTooltip="Clique aqui para fechar o menu" matTooltipShowDelay="300"
                matTooltipHideDelay="300" matTooltipPosition="above">
                close
            </mat-icon>
        </button>
        <header>TCC_Frontend: Voz do cidadão</header>
    </article>
    <article>
        <div [class.hidden]="!menuOpen" [@expandCollapse]="menuOpen ? 'expanded' : 'collapsed'">       
            <div class="menu-content">
                <a [ngClass]="{ active: isActive('/home') }" (click)="onMenuItemClick('/home')" class="btn-menu-itens">
                    <mat-icon>home</mat-icon>
                    <span>Página Inicial</span>
                </a>
                <a [ngClass]="{ active: isActive('/saude') }" (click)="onMenuItemClick('/saude')"
                    class="btn-menu-itens">
                    <mat-icon>health_and_safety</mat-icon>
                    <span>Saúde</span>
                </a>
                <a [ngClass]="{ active: isActive('/infraestrutura') }" (click)="onMenuItemClick('/infraestrutura')"
                    class="btn-menu-itens">
                    <mat-icon>apartment</mat-icon>
                    <span>Infraestrutura</span>
                </a>
                <a [ngClass]="{ active: isActive('/educacao') }" (click)="onMenuItemClick('/educacao')"
                    class="btn-menu-itens">
                    <mat-icon>school</mat-icon>
                    <span>Educação</span>
                </a>
                <a [ngClass]="{ active: isActive('/seguranca') }" (click)="onMenuItemClick('/seguranca')"
                    class="btn-menu-itens">
                    <mat-icon>local_police</mat-icon>
                    <span>Segurança</span>
                </a>
            </div>
        </div>
    </article>
</section>
<div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>