<section class="menu-bar">
  <article class="menu-bar-header">
    <button (click)="menu()" class="btn-menu">
      <mat-icon *ngIf="!menuOpen" matTooltip="Clique aqui para abri o menu" matTooltipShowDelay="300"
        matTooltipHideDelay="300" matTooltipPosition="above">
        menu
      </mat-icon>
      <mat-icon *ngIf="menuOpen" matTooltip="Clique aqui para fechar o menu" matTooltipShowDelay="300"
        matTooltipHideDelay="300" matTooltipPosition="above">
        close
      </mat-icon>
    </button>
    <header>TCC_Frontend: Voz do cidadão</header>

    <div class="container-btn-user">
      <div>
        <a class="pupulacaoLink" matTooltip="Fonte: IBGE (Última atualização: 2024) - Clique para acessar"
          matTooltipShowDelay="300" matTooltipHideDelay="300" matTooltipPosition="above"
          href="https://www.ibge.gov.br/cidades-e-estados/mg/ressaquinha.html" target="_blank">População estimada: 4.641
          pessoas</a>
      </div>
      <button (click)="openBottomSheet()" class="btn-user">
        <mat-icon class="icon-user" matTooltip="Clique aqui" matTooltipShowDelay="300" matTooltipHideDelay="300"
          matTooltipPosition="above">account_circle</mat-icon>
      </button>
    </div>
  </article>
  <article>
    <div [class.hidden]="!menuOpen" [@expandCollapse]="menuOpen ? 'expanded' : 'collapsed'">
      <div class="menu-content">
        <a *ngFor="let item of menuItems" [routerLink]="item.route" [ngClass]="{ active: isActive(item.route) }"
          class="btn-menu-itens">
          <span>{{ item.label }}</span>
        </a>
      </div>
    </div>
  </article>
</section>