<section class="menu-bar">
    <article class="menu-bar-header">
        <button (click)="menu()" class="btn-menu" title="Click para interagir">
            <mat-icon *ngIf="!menuOpen">menu</mat-icon>
            <mat-icon *ngIf="menuOpen">close</mat-icon>
        </button>
        <header>TCC-V3 BETA: Voz do cidadão</header>
    </article>
    <article>
        <div [@expandCollapse]="menuOpen ? 'expanded' : 'collapsed'" class="menu-content">
            <div class="menu-content">
                <a class="btn-menu-itens" routerLink="/home" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                    <span>Página Inicial</span>
                </a>
                <a class="btn-menu-itens" routerLink="/saude" routerLinkActive="active">
                    <mat-icon>health_and_safety</mat-icon>
                    <span>Saúde</span>
                </a>
                <a class="btn-menu-itens" routerLink="/infraestrutura" routerLinkActive="active">
                    <mat-icon>apartment</mat-icon>
                    <span>Infraestrutura</span>
                </a>
                <a class="btn-menu-itens" routerLink="/educacao" routerLinkActive="active">
                    <mat-icon>school</mat-icon>
                    <span>Educação</span>
                </a>
                <a class="btn-menu-itens" routerLink="/seguranca" routerLinkActive="active">
                    <mat-icon>local_police</mat-icon>
                    <span>Segurança</span>
                </a>
            </div>
        </div>
    </article>
</section>