.container {
    padding: 20px;
}

mat-divider{
    border-color: #89b5fa;
}

.dialog-header {
    display: flex;
    padding: 10px;
    font-size: 25px;
    color: #424242;
}

span {
    flex-grow: 1;
}

.close-icon {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

mat-icon{
    font-size: 27px;
    transition: font-size 0.1s, color 0.5s;
}

mat-icon:hover{
    width: 24px;
    height: 24px;
    font-size: 29px;
    color: #cc3333;
}

.dialog-content{
    font-size: 17px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #424242;
}
.dialog-actions{
    padding: 0;
    padding-top: 20px;
}

.btn-close{
    border: none;
    color: #424242;
    font-weight: bold;
    font-size: 17px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.8s, color 0.8s;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6666;
}

.btn-close{
    background-color: #cc3333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);   
}