.layout-footer{
    display: flex;
    align-items: center;
    font-style: italic;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #424242;
}
.container-copyright{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.container-github{
    display: flex;
    color: #424242;
    align-items: center;
}
a{
    color: #424242;
    transition: color 0.5s;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
}
a:hover{
    color: #89b5fa;
}
i{
    font-size: 24px;
}