<div class="card-rating">
    <section style="width: 90%;">
        <article>
            <app-rating-circle [avaliacao]="avaliacao">
            </app-rating-circle>
        </article>
        <article style="display: flex; justify-content: center; padding-top: 10px; padding-bottom: 5px;">
            <div style="display: flex;">
                <span class="avalicao">
                    {{numeroAvalicao |  number: '1.0-0':'pt-BR'}} Avaliações
                    <mat-icon matTooltip="Avalicações realizadas" matTooltipShowDelay="500"
                    matTooltipHideDelay="300" matTooltipPosition="above">
                        reviews
                    </mat-icon>
                </span>
            </div>
        </article>
        <article class="container-star-rating">
            <app-star-rating [avaliacao]="avaliacao">
            </app-star-rating>
        </article>
        <article class="container-bar-rating">
            <app-bar-rating [data]="data">
            </app-bar-rating>
        </article>
    </section>
</div>