.card-rating {
    display: flex;
    flex-grow: 1;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: center;
}

.avalicao {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    color: #424242;
    gap: 5px;
}

mat-icon {
    margin-top: -15px; 
    font-size: 27px; 
    width: 27px; 
    height: 27px;
    cursor: pointer;
    transition: color 0.5s;
}
mat-icon:hover{
    color: #89b5fa;
}

.container-star-rating {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.container-bar-rating {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

app-bar-rating {
    width: 100%;
}