<div class="card">
    <article style="flex-grow: 1;">
        <div class="card-cabecalho">
            <div class="card-logo">
                <img src={{logo}} alt="Descrição da imagem">
            </div>
            <div class="card-header">
                <div class="card-tittle">
                    {{title}}
                </div>
                <div class="card-subtittle">
                    {{subtitle}}
                </div>
                <a [href]="url" target="_blank">
                    <mat-icon matTooltip="Abrir localização"  matTooltipShowDelay="500"
                    matTooltipHideDelay="300" matTooltipPosition="above">
                        location_on
                    </mat-icon>
                </a>
                <a *ngIf="dashboard" [href]="urlSite" target="_blank">
                    <mat-icon matTooltip="Sobre a cidade"  matTooltipShowDelay="500"
                    matTooltipHideDelay="300" matTooltipPosition="above">
                        open_in_new
                    </mat-icon>
                </a>
            </div>
        </div>
    </article>
    <div class="card-content">
        <div class="card-img">
            <img src={{img}} alt="Descrição da imagem">
        </div>
    </div>
</div>