<div class="card">
    <article style="flex-grow: 1;">
        <div class="card-cabecalho">
            <div class="card-logo">
                <img src={{logo}} alt="Descrição da imagem">
            </div>
            <div class="card-header">
                <div class="card-tittle">
                    {{title}}
                </div>
                <div class="card-subtittle">
                    {{subtitle}}
                </div>
            </div>
        </div>
    </article>
    <div class="card-content">
        <div class="card-img">
            <img src={{img}} alt="Descrição da imagem">
        </div>
    </div>
</div>