<div>
    <section>
        <article>
            <div class="container-card">
                <app-card title="Ressaquinha-MG" subtitle=" Avaliação Geral dos Serviços Prestados na Cidade"
                    logo="imgs/bandeira.jpg" img="imgs/ressaquinha.jpg" style="width: 50%;">
                </app-card>
                <div class="card-rating">
                    <div class="circle-rating">
                        <div class="progress-circle">
                            <svg width="120" height="120" viewBox="0 0 120 120">
                                <circle cx="60" cy="60" r="50" stroke="#f3f3f3" stroke-width="6" fill="none" />
                                <circle cx="60" cy="60" r="50" stroke="#89b5fa" stroke-width="6" fill="none"
                                    [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="offset">
                                </circle>
                            </svg>
                            <div class="percentage">{{ generalAverage | number: '1.1-1' }}/4</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>