<section>
    <div class="container">
        <div class="container-form">
            <form [formGroup]="formGroup" class="form">
                <div class="container-title-login">
                    <strong style="font-size: larger; padding-bottom: 10px;">Bem vindo a Plataforma Voz do cidadão!!</strong>
                    <p style="font-size: 17px; margin: 0; padding-bottom: 10px;">Por favor ensira seu login para poder estar avaliando os serviços da sua
                        cidade!</p>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" placeholder="Digite seu nome">
                    <mat-error *ngIf="formGroup.get('nome')?.hasError('required')">
                        O nome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Digite seu email">
                    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                        O email é obrigatório
                    </mat-error>
                </mat-form-field>

                <button class="btn-submit" type="submit" mat-button>
                    Fazer Login
                    <mat-icon>send</mat-icon>
                </button>

                <div style="display: flex; gap: 10px; padding-top: 10px; justify-content: center;">
                    <div style="display: flex; justify-content: flex-start; flex-grow: 1;">
                        <span style="font-size: small;">
                            <a routerLink="/usuario/create">Cadastre-se</a>
                        </span>
                    </div>
                
                    <div style="display: flex; justify-content: flex-end; flex-grow: 1;">
                        <span style="font-size: small;">
                            <a routerLink="">Esqueceu a senha?</a>
                        </span>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</section>