<section>
    <div class="container">
        <div class="container-form">
            <form [formGroup]="formGroup" class="form">
                <div class="container-title-login">
                    <strong style="font-size: larger; padding-bottom: 10px;">Bem vindo a Plataforma Voz do cidadão!!</strong>
                    <p style="font-size: 17px; margin: 0; padding-bottom: 10px;">Por favor ensira seu login para poder estar avaliando os serviços da sua
                        cidade!</p>
                </div>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Seu e-mail" required autocomplete="email">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Sua senha" required autocomplete="current-password">
                </mat-form-field>

                <button class="btn-submit" type="submit" mat-button>
                    Fazer Login
                    <mat-icon>login</mat-icon>
                </button>

                <div style="display: flex; gap: 10px; padding-top: 10px; justify-content: center;">
                    <div style="display: flex; justify-content: flex-start; flex-grow: 1;">
                        <span style="font-size: small;">
                            <a routerLink="/usuario/create">Cadastre-se</a>
                        </span>
                    </div>
                
                    <div style="display: flex; justify-content: flex-end; flex-grow: 1;">
                        <span style="font-size: small;">
                            <a routerLink="">Esqueceu a senha?</a>
                        </span>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</section>