/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F3F3F3;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-mdc-tooltip-surface {
    background-color: #333 !important;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    max-width: 250px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #89b5fa !important;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loading-overlay.ng-trigger {
    opacity: 1;
}

.disable-route-animation * {
    animation: none !important;
    transition: none !important;
}

.mat-bottom-sheet-container {
    background: #fff !important;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
    background: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff !important;
}

.mat-vertical-content {
    padding: 24px !important;
}

.mat-divider {
    border-top-color: #f3f3f3 !important;
    border-top-width: var(--mat-divider-width, 3px) !important;
    padding-bottom: 10px !important;
}

// .mat-step-icon-state-edit {
//     background-color: #89b5fa !important;
// }

// .mat-step-icon-selected {
//     background-color: #007BFF !important;
// }

.mat-step-icon {
    background-color: #89b5fa !important;
}

.mat-internal-form-field>label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: large;
}

.mdc-switch__track::after {
    background-color: #89b5fa !important;
}

.mdc-switch--selected .mdc-switch__icon,
.mdc-switch--unselected .mdc-switch__icon {
    fill: #006dff !important;
}

.mdc-switch__icons {
    background-color: #ffffff !important;
    border-radius: 50%;
}

.mdc-switch__track::before {
    background: #c3c3c3;
}

.mdc-switch__track::before, .mdc-switch__track::after{
    border-color: #89b5fa !important;
}

.mat-content{
    flex: none !important;
    flex-wrap: wrap;
}

.mat-expansion-panel-header{
    background: white !important; 
    padding: 0px 0px !important;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}

.mat-expansion-panel-body{
    background: #fff;
}