.bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 10px 0;
    transition: color 0.5s, transform 0.3s;

}

.bar {
    height: 10px;
    border-radius: 5px;
    background-color: #87CEFA;
}

.destaque {
    transition: transform 0.3s, opacity 0.2s;
    transform-origin: center;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.destaque:hover {
    cursor: pointer;
    transform: scale3d(1.02, 1.02, 1);
    opacity: 0.95;
}


.label {
    display: flex;
    margin-bottom: -4px;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #424242;
}

.service-name {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.service-rating {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}